<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        </link>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-5">
                    {% for key in schoolList.keys() %}
                        <a href="{{ url_for('get_school_news',school=key) }}" class="btn btn-default">{{ schoolList[key] }}</a>
                    {% endfor %}
                </div>
                <div class="col-md-3">
                    <form class="form-inline" method="post" action="{{ url_for('search_school_news') }}">
                        <div class="form-group">
                            <label class="sr-only" for="keyword">Search...</label>
                            <input type="text" class="form-control" name="keyword" placeholder="Search...">
                            <button type="submit" class="btn btn-default">搜索</button>
                        </div>
                    </form>
                    <form ></form>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            News
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                {% for data in datas %}
                                <tr>
                                    <td>
                                        <a href="{{ data.url }}">
                                            {{ data.title }}
                                        </a>
                                    </td>
                                    <td>
                                        <span>
                                            {{ data.date }}
                                        </span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </body>
</html>
<script src="{{ url_for('static', filename='js/jquery.js') }}">
</script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
</script>
